
body {
    margin: 0;
    padding: 0;
    background-color: #f0e8c8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-area, #printable-area * {
    visibility: visible !important;
  }

  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}